# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing & Coverage
/coverage
/test-results
/playwright-report
/blob-report
/playwright/.cache

# Next.js Build Output
/.next/
/out/

# Production Builds
/build
/dist

# OS & Editor Artifacts
.DS_Store
Thumbs.db
*.pem
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment Variables
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Deployment
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
